<h1
    class="text-4xl text-slate-100 font-bold mb-6 md:text-5xl md:max-w-[619px]"
    data-aos="fade-right"
>
    Discover Amazing places in Japan
</h1>
<p
    class="text-slate-100 md:text-base md:max-w-[546px]"
    data-aos="fade-right"
    data-aos-delay="300"
>
    Jump off balcony, onto stranger's head. Chase ball of string hide when
    guests come over. Being gorgeous with belly side up i could pee on this if i
    had the energy but under the bed, for attack the child, open the door,
</p>
