<form
    class="flex flex-col gap-8 items-center justify-start w-full flex-wrap md:flex-row md:gap-14"
    data-aos="fade-right"
    data-aos-delay="500"
>
    <load
        ="src/components/search-form/input.html"
        placeholder="What would you like to do?"
    />
    <load
        ="src/components/search-form/input.html"
        placeholder="Where would you like to go?"
    />
    <button
        class="uppercase text-md py-3 px-10 bg-main-blue text-slate-100 transition-colors focus:outline-none focus:ring-2 focus:ring-blue-600 md:hover:bg-blue-600 md:text-2xl md:py-4"
        type="submit"
    >
        search
    </button>
</form>
