<label class="pl-11 py-5 relative w-[297px]">
    <input
        type="text"
        type="search"
        name="likeToDo"
        id="toGo"
        placeholder="{=$placeholder}"
        class="text-base bg-transparent w-full text-slate-100 font-normal placeholder-slate-100 outline-none peer md:text-md"
    />
    <span
        class="block absolute bottom-0 left-0 h-0.5 bg-gray-300 w-full before:content-[''] before:absolute before:h-0.5 before:w-full before:bg-blue-600 before:transition-all before:top-0 before:left-0 before:scale-0 peer-focus:before:scale-100"
    ></span>
    <span
        class="transition-colors absolute w-5 h-5 rounded-full border-2 border-slate-100 left-0 top-1/2 -translate-y-1/2 peer-focus:border-blue-600"
    ></span>
</label>
