<div
    class="relative w-full md:w-[calc(33.333333%-7px)] h-[283px] overflow-hidden after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-gradient-to-b from-black/5 to-black/50 group/card focus:outline-none focus:ring-2 focus:ring-blue-600"
    tabindex="{=$tabindex}"
    data-aos="fade-up"
    data-aos-delay="{=$delay}"
>
    <img
        src="{=$image}"
        alt="Mount Fuji"
        class="w-full h-full object-cover transition-transform md:group-hover/card:scale-105"
        loading="lazy"
    />
    <h3
        class="absolute bottom-7 left-7 text-4xl font-bold text-slate-100 z-[1] md:text-5xl overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%] pr-7"
    >
        {=$title}
    </h3>
</div>
