<section class="mb-16 md:mb-[131px]">
    <div class="container mx-auto px-3">
        <div
            class="flex justify-between items-center mb-9 gap-[10px] flex-wrap"
        >
            <h2
                class="text-4xl font-bold relative md:w-max pb-[10px] before:content=[''] before:absolute before:left-0 before:bottom-0 before:h-[3px] before:w-[30%] sm:before:w-[55%] before:bg-main-blue"
                data-aos="fade-right"
            >
                Get inspired for your next trip
            </h2>
            <div data-aos="fade-left">
                <load ="src/components/main-link" text="VIEW ALL" />
            </div>
        </div>
        <div
            class="flex flex-wrap md:[&>*:nth-child(-n+2)]:w-[calc(50%-5px)] md:[&>*:nth-child(-n+2)]:h-[354px] gap-[10px]"
        >
            <load
                ="src/components/gallery/card.html"
                image="src/assets/img/gallery/fuji.png"
                title="Mount Fuji"
                tabindex="1"
                delay="0"
            />
            <load
                ="src/components/gallery/card.html"
                image="src/assets/img/gallery/kyoto.png"
                title="Kyoto"
                tabindex="2"
                delay="100"
            />
            <load
                ="src/components/gallery/card.html"
                image="src/assets/img/gallery/tokyo.png"
                title="Tokyo"
                tabindex="3"
                delay="200"
            />
            <load
                ="src/components/gallery/card.html"
                image="src/assets/img/gallery/niigata.png"
                title="Niigata"
                tabindex="4"
                delay="300"
            />
            <load
                ="src/components/gallery/card.html"
                image="src/assets/img/gallery/sapporo.png"
                title="Sapporo"
                tabindex="5"
                delay="400"
            />
        </div>
    </div>
</section>
