<section class="mb-16 md:mb-[131px]" id="articles">
    <div
        class="container px-3 mx-auto grid gap-10 md:grid-cols-2 md:gap-8 md:[&>*:nth-child(n+2)]:flex-col-reverse lg:gap-[108px]"
    >
        <load
            ="src/components/features/feature.html"
            title="Featured Neighborhood: Kyoto’s Arashiyama"
            description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door"
            linkText="VIEW NEIGHBORHOOD"
            image="src/assets/img/features/feature2.png"
            imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door"
            delay="0"
            direction="fade-right"
        />
        <load
            ="src/components/features/feature.html"
            title="Featured Neighborhood: Kyoto’s Arashiyama"
            description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door"
            linkText="VIEW PREFECTURE"
            image="src/assets/img/features/feature1.png"
            imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door"
            delay="0"
            direction="fade-left"
        />
    </div>
</section>
