<div
    class="flex flex-col w-full md:max-w-[386px] lg:max-w-[500px] min-h-[567px]"
    data-aos="fade-up"
    data-aos-delay="{=$delay}"
>
    <div
        class="relative w-full h-[377px] mb-[45px] overflow-hidden after:absolute after:top-0 before:l-0 after:w-full after:h-full after:bg-[rgba(0,0,0,0.1)] group/card"
    >
        <img
            src="{=$image}"
            alt="{=$imageAlt}"
            class="w-full h-full object-cover transition-transform md:group-hover/card:scale-105"
        />
        <div
            class="py-4 px-6 w-full absolute bottom-0 left-0 bg-[rgba(0,0,0,0.5)] flex items-center"
        >
            <span
                class="text-slate-100 text-base uppercase font-normal flex-grow"
                >{=$title}</span
            >
            <span
                class="flex items-center gap-1 text-slate-100 text-base uppercase font-normal mr-[14px]"
                >{=$likes}<img
                    class="w-[16px] h-[16px] object-cover"
                    src="src/assets/svg/like.svg"
                    alt="like"
            /></span>
            <span
                class="flex items-center gap-1 text-slate-100 text-base uppercase font-normal"
                >{=$comments}<img
                    class="w-[16px] h-[16px] object-cover"
                    src="src/assets/svg/comment.svg"
                    alt="like"
            /></span>
        </div>
    </div>
    <p class="flex-grow text-base font-normal mb-[31px]">{=$description}</p>
    <button
        class="text-slate-100 font-normal uppercase text-base bg-main-blue w-max py-3 px-5 transition-colors focus:outline-none focus:ring-2 focus:ring-blue-600 md:hover:bg-blue-600"
        type="button"
    >
        SEE MORE
    </button>
</div>
