<section class="mb-16 md:mb-[131px]">
    <div class="container px-3 mx-auto">
        <h2
            class="text-4xl font-bold relative md:w-max pb-[10px] before:content=[''] before:absolute before:left-0 before:bottom-0 before:h-[3px] before:w-[30%] sm:before:w-[55%] before:bg-main-blue mb-14"
            data-aos="fade-right"
        >
            Today top places to visit
        </h2>
        <div
            class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-14"
        >
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/nagoya.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="221"
                comments="17"
                title="nagoya"
                delay="0"
            />
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/niigata.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="91"
                comments="171"
                title="niigata"
                delay="100"
            />
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/osaka.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="2221"
                comments="1743"
                title="osaka"
                delay="150"
            />
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/saitama.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="2"
                comments="12"
                title="saitama"
                delay="200"
            />
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/ueno.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="791"
                comments="717"
                title="ueno"
                delay="250"
            />
            <load
                ="src/components/top-places/card.html"
                image="src/assets/img/top-places/shibuya.png"
                imageAlt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this."
                likes="2501"
                comments="1711"
                title="shibuya"
                delay="300"
            />
        </div>
    </div>
</section>
