<section class="relative mb-16 md:mb-[131px]">
    <div class="container mx-auto px-3" data-aos="fade-up" data-aos-delay="500">
        <div
            class="p-14 -mt-28 bg-white min-h-[655px] shadow-2xl shadow-[rgba(21, 24, 36, 0.15993)] md:py-24 md:px-28 md:-mt-[228px]"
        >
            <h2 class="text-4xl font-bold mb-[120px]">Benefits of Odigo</h2>
            <div class="grid gap-14 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                <load
                    ="./card.html"
                    icon="/src/assets/svg/china_house.svg"
                    alt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    title="Welcome to Odigo!"
                    linkText="learn more"
                    description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    delay="0"
                />
                <load
                    ="./card.html"
                    icon="/src/assets/svg/user.svg"
                    alt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    title="Your Personal Japan Guide"
                    linkText="learn more"
                    description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    delay="100"
                />
                <load
                    ="./card.html"
                    icon="/src/assets/svg/present.svg"
                    alt="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    title="Promoting Local Businesses"
                    linkText="learn more"
                    description="Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over."
                    delay="200"
                />
            </div>
        </div>
    </div>
</section>
